[submodule "pypsa-eur-2030"]
	path = pypsa-eur-2030
	url = git@github.com:PyPSA/pypsa-eur.git
	branch = line-rating
[submodule "pypsa-eur-2020"]
	path = pypsa-eur-2020
	url = git@github.com:PyPSA/pypsa-eur.git
	branch = line-rating
